<section>
	<form action="/" method="post">
		<textarea name="item" placeholder="Add your item"></textarea>
		<input type="submit" value="Add It">
	</form>
</section>

<% @items.each do |item| %>
	<article>
		<p>ToDo: <%= item.content%> </p>
		<p>Created At: <%= item.created_at %> </p>
	</article>
<% end %>