<section class="list field">
	<form action="/" method="post">
		<textarea id="the-textarea" name="item" placeholder="Add your item"></textarea>
		<input id="add-item" type="submit" value="Add It">
	</form>
</section>

<section>
	<article id="left-article">
		<h2>Say Goodbye to Forgetting...</h2>
		<p>When you have something important to do, don't waste time </p>
		<p>and energy later on, just write it down <span class="urgent">immediately</span>.
		<p>This free's up space in your brain's memory too.</p>
	</article>

	<article id="right-article">
		<h2>Say Hello to <span class="urgent">Improvement</span></h2>
		<p>Become a master of productivity.</p>
		<p>Get into the habit of writing down 5-7</p>
		<p>of your most important things to-do for the day.</p>
	</article>

	<section id="clear-float"></section>
</section>
