<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Your Todo List </title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head> 
<body>

	<header>
		<nav>
			<p id="logo">Something 2 Do</p>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/show">Notes</a></li>
			</ul>
		</nav>
		<h1>Get it Done!</h1>
	</header>

	<section id="main">
		<%= yield %>
	</section>

	<footer>
		<p id="footer-text">Created By: <span>Denzel Pressey</span></p>
	</footer>

</body>
</html>