<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Your Todo List </title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head> 
<body>

	<header>
		<h1>Get it Done!</h1>
		<nav></nav>
	</header>

	<section id="main">
		<%= yield %>
	</section>

	<footer>
		<p>Created By: <span>Denzel Pressey</span></p>
	</footer>

</body>
</html>