<% @lists.each do |list| %>
	<article class="list-container">
		<%= list.content %>
		<a href="/<%= list.id %>"><button class="button">Edit</button></a>
		<a href="/<%= list.id %>/delete"><button id="show-delete" class="button">Delete</button></a>
	</article>
<% end %>