#logo {
	position: relative;
	margin: 0;
	color: black;
	font-size: 1.3em;
	left: 20px;
	top: 35px;
	width: 200px;
}

nav {
	background-color: #FF4F19;
	height: 100px;
}

li {
	position: relative;
	left: 1100px;
	top: 20px;
	display: inline-block;
	padding: 10px;
}

a {
	text-decoration: none;
}


body p {
	color: #5BB209;
}

h1 {
	text-align: center;
}

.list {
	position: relative;
	top: 100px;
	left: 145px;
}

#the-textarea {
	position: relative;
	width: 1000px;
	resize: none;
}


#edit-textarea {
	position: relative;
	height: 60px;
	left: 150px;
	top: 100px;
}

#edit-button {
	position: relative;
	left: 150px;
	top: 100px;
	height: 65px;
	color: white;
	background-color: #454A59; 
}

#add-item {
	height: 55px;
	background: #0030FF;
	color: white;
	border-radius: 3px;
	
}

#left-article {
	position: relative;
	float: left;
	top: 200px;
	left: 100px;

}

#right-article {
	position: relative;
	float: right;
	top: 200px;
	right: 100px;
}

.list-notes {
	
}

.list-container {
	position: relative;
	top: 50px;
	border: 1px solid black;
	margin-top: 2px;
	border-left: none;
	border-right: none;
	padding: 20px;
	color:#190336;
}

.button {
	position: relative;
	left:;
	height:30px; 
	width:60px;
	float: right;
}

#show-delete {
	background: #940000;
	border-radius: 2px;
}

a #show-delete {
	color: white;
}
#delete-container {
	position: relative;
	top: 150px;
	left: 290px;
	height: 250px;
	width: 900px;
	border: 0.1em solid black;
	
	
}

#delete-message {
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: #940000;
}

#delete-content {
	position: relative;
	top: 20px;
	text-align: center;
}

#delete-button {
	position: relative;
	top: 35px;
	left: 43%;
	height: 55px;
	width: 120px;
	color: white;
	background-color: #940000;
}

#clear-float {
	clear: both;
}

#four {
	height: 300px;
}


footer {
	position:fixed;
	bottom:0;
	z-index:999999;
}

#footer-text {
	color: black;
	font-size: 1.1em;
}
